<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photos">
            <h2><span jhiTranslate="epmgatewayApp.photos.detail.title">Photos</span> {{photos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="epmgatewayApp.photos.thumbnailImageUrl">Thumbnail Image Url</span></dt>
                <dd>
                    <span>{{photos.thumbnailImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.originalImageUrl">Original Image Url</span></dt>
                <dd>
                    <span>{{photos.originalImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.bannerTallImageUrl">Banner Tall Image Url</span></dt>
                <dd>
                    <span>{{photos.bannerTallImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.bannerWideImageUrl">Banner Wide Image Url</span></dt>
                <dd>
                    <span>{{photos.bannerWideImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.circleImageUrl">Circle Image Url</span></dt>
                <dd>
                    <span>{{photos.circleImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.sharpenedImageUrl">Sharpened Image Url</span></dt>
                <dd>
                    <span>{{photos.sharpenedImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.squareImageUrl">Square Image Url</span></dt>
                <dd>
                    <span>{{photos.squareImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.watermarkImageUrl">Watermark Image Url</span></dt>
                <dd>
                    <span>{{photos.watermarkImageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.priority">Priority</span></dt>
                <dd>
                    <span>{{photos.priority}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.defaultInd">Default Ind</span></dt>
                <dd>
                    <span>{{photos.defaultInd}}</span>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.stockItem">Stock Item</span></dt>
                <dd>
                    <div *ngIf="photos.stockItemId">
                        <a [routerLink]="['/stock-items', photos.stockItemId, 'view']">{{photos.stockItemId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="epmgatewayApp.photos.productCategory">Product Category</span></dt>
                <dd>
                    <div *ngIf="photos.productCategoryId">
                        <a [routerLink]="['/product-category', photos.productCategoryId, 'view']">{{photos.productCategoryId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photos', photos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
